In [ ]:
a = {1,2,3,4}
b = {2,1,7,8}

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(b.difference(a))
print(a.issubset(b))
print(a.issuperset(b))
print(a.symmetric_difference(b))

{1, 2, 3, 4, 7, 8}
{1, 2}
{3, 4}
{8, 7}
False
False
False
{3, 4, 7, 8}

In [13]:
a = eval(input("Enter a set A: "))
b = eval(input("Enter a set B: "))

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(b.difference(a))
print(a.issubset(b))
print(a.issuperset(b))
print(a.symmetric_difference(b))

Enter a set A:  {1,2,3,4,5}
Enter a set B:  {1,2,3,4,5,6,7,8,9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5}
set()
{8, 9, 6, 7}
True
False
{6, 7, 8, 9}

In [21]:
a = eval(input("Enter a set: "))
sum(a)

Enter a set:  {1,2,3,4,5}

15

In [19]:
s = input("Enter a string: ")
a = set(s)

print(a)

Enter a string:  hello

{'h', 'e', 'l', 'o'}

***Dictionaries***

In [ ]:
d = {"name":"Aditya", "Age":19, "course":"AIML", "College":"LJU"}

print(d.keys())
print(d.values())

dict_keys(['name', 'Age', 'course', 'College'])
dict_values(['Aditya', 19, 'AIML', 'LJU'])
{'name': 'Aditya Kadia'}

In [4]:
temp = {}

temp.update({"name":"Aditya Kadia"})
temp.update({"college":"ITM"})
temp.update({"year":2024})
print(temp)

{'name': 'Aditya Kadia', 'college': 'ITM', 'year': 2024}

In [19]:
n = int(input("Enter the number of students: "))
d = {}
for i in range(n):
    k = input("Enter Player name: ")
    v = input("Enter Player runs: ")
    d.update({k:v})

print(d)
print(d.keys())
print(d.values())

x = d.get("virat",-1)
if x == -1:
    print("Player not found")
else:
    print("Runs scored by Virat = ",x)

{'virat': '13000', '': 'dhoni'}
dict_keys(['virat', ''])
dict_values(['13000', 'dhoni'])
Runs scored by Virat =  13000

In [1]:
color = {"r":"Red","b":"Blue","g":"Green"}

# to print only keys using loop
for i in color:
    print(i)

# To print only values using loop
for i in color:
    print(color[i])

# To print both key value pairs using loop
for i,j in color.items():
    print(i+":"+j)

r
b
g
Red
Blue
Green
r:Red
b:Blue
g:Green

In [34]:
color = {50:"Red",20:"red",30:"Green"}

x = sorted(color.items(),key=lambda a : a[0])
y = sorted(color.items(),key=lambda a : a[1])


print(x)
print(y)

[(20, 'red'), (30, 'Green'), (50, 'Red')]
[(30, 'Green'), (50, 'Red'), (20, 'red')]

In [ ]:
country = ["India","Dubai","Australia","USA"]
city = ["Ahemdabad","Quatar","Sydney","New York"]

# zip is used to combine two different lists
z = zip(country,city)

d = dict(z)

d.items()

dict_items([('India', 'Ahemdabad'), ('Dubai', 'Quatar'), ('Australia', 'Sydney'), ('USA', 'New York')])