In [1]:
x = input("Enter name"

SyntaxError: incomplete input (3949081414.py, line 1)

In [2]:
x = {"a":1,"b":2

SyntaxError: incomplete input (1782532445.py, line 1)

In [3]:
print "Hello"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3583445538.py, line 1)

In [4]:
for i in x:
print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (1320243566.py, line 2)

In [5]:
l = [1,2,3,4,5]
l[100]

IndexError: list index out of range

In [6]:
a = 10
print(b)

NameError: name 'b' is not defined

In [15]:
for i in 1.txt:
    print(i)

SyntaxError: invalid decimal literal (2894876588.py, line 1)

In [14]:
print(c)

NameError: name 'c' is not defined

In [1]:
# TYPES OF ERROR
# 1) Syntax error
# 2) Indentation Error
# 3) Index Error
# 4) Key Error
# 5) Name Error
# 6) Type Error
# 7) Value Error
# 8) ZeroDivision Error
# 9) Attribute Error
# 10) ModlueNotFound Error
# 11) Exception

In [5]:
a = int(input("Enter the number: "))
b = int(input("Enter the number: "))
try:
    print(c)
except:
    print("Value cannot be zero")
print("Hello")

Value cannot be zero
Hello

In [21]:
try:
    a = 10
    c = 5
    print(a)
    print(a/c)
    l = [1,2,3]
    print(l[0])
    d={1:"a",2:"b"}
    print(d.get())
except NameError:
    print("Variable not found")
except ZeroDivisionError:
    print("Cannot divide by zero")
except Exception as e:
    print(e)

10
2.0
1
get expected at least 1 argument, got 0

In [1]:
try:
    f = open("10.txt","r")
except FileNotFoundError:
    print("File not Found error")
else:
    print(f.read())

File not Found error

In [33]:
class Adi(Exception):
    pass

try:
    m = 1000
    w = int(input("Enter withdrawl amount: "))
    x = m-w
    if x < 200:
        raise Adi("OOO gareeeb manas !!!!!")
    else:
        print(f"Remaining money in the account: {x}$")

except Adi as e:
    print(e)

OOO gareeeb manas paisa nathi khata ma ne bhai ne farva javu che !!!!!

In [42]:
class Adi(Exception):
    pass

while True:
    try:
        age  = int(input("Enter your age: "))
        if age >= 18 and age<=24:
            print("Age: ",age)
            break
        else:
            raise Adi("Age must be between 18 to 24")
    except Adi as e:
        print(e)

Age must be between 18 to 24
Age must be between 18 to 24
Age must be between 18 to 24
Age must be between 18 to 24
Age:  20